/* CSS ESERCIZIO 1 */
* {
box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: url("../images/bg.png") no-repeat center center fixed;
  
}

.text-left {
  text-align: left;
}

.container_center {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

/* header */

#header {
  position: relative;
  margin-top: 150px;
}

 #dashed_linea {
  margin-top: 25px;
  display: block;
  border: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
  margin-block-end: 0;
} 

 #dashed_linea::after{
content:"-------------------------------------------------------------------------------------------------------------------------------------------------------";
 color:#ced9de;
letter-spacing: 5px; 
}

 #header_left > * {
  height: 50px;
}

#header_left {
  float: left;
}

#header_right {
  float: right;
}

/* button */

#container_btn_form {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#add_btn, #close_btn, #submit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 130px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;

}

#add_btn > img {
  margin-left: 10px;
}

#close_btn {
  justify-content: space-between;
  border-color: #F3CA1C ;
  padding: 0 10px;
  color:#F3CA1C ;
}

#close_btn > img {
  align-self: flex-end;
}

#submit_btn {
  border: none;
}

#add_btn {
  border:0;
  background: rgb(247,235,122);
  color: white;
  background: rgb(247,235,122);
  background: linear-gradient(90deg, rgba(247,235,122,1) 23%, rgba(233,170,0,1) 69%);
}

/* button-CLOSE */

/* input form */


#container_input img {
  vertical-align: middle;
}

#container_input input {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background-color: #e5eaed;
  height: 50px;
  border-radius: 25px;
  border: 0;
  margin: 0 25px;
  padding: 0 20px;
}

#currency-field, #quatity {
  padding: 0 30px;
}

#currency-field {
  width: 120px;
}

#container_input input::placeholder {
  color: rgba(137, 156, 136, 0.5);
}

#container_input input:focus-visible {
  outline: none;
}
 /* input-form close */

#title_table {
  align-self: flex-start;
  font-size: 28px;
  font-weight: 500;
  color: #8A9DA6;
}

/* header-CLOSE */

#table_fruit {
  width:100%;
  border-radius: 6px;
  border-spacing: 0 20px;
  border-collapse: separate;
  text-align:center;
}

#intestation > th {
 line-height: 70px;
 font-weight: 500;
 color:#8A9DA6 ;
 background-color: #ced9de;
}

.item {
  line-height: 100px;
  color: #6a8592;
}

.img_fruit {
  vertical-align: middle;
 
}


.item > td:first-child, #intestation > th:first-child {
   width: 150px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
 
 
}

.item > td:last-child,#intestation > th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  
  
}


.item > td {
  margin-top: 20px;
  background-color: white;
  line-height: 100px;
}

.available, .not_available {
  height: 35px;
  width: 125px;
  display: inline-block;
  line-height: 35px;
  margin: auto;
  border-radius: 50px;
  color: white;
}

.available {
  background: rgb(122,247,168);
  background: linear-gradient(90deg, rgba(122,247,168,1) 23%, rgba(54,212,111,1) 69%);
}

.not_available {
  background: rgb(222,105,105);
  background: linear-gradient(90deg, rgba(222,105,105,1) 23%, rgba(212,54,54,0.9976365546218487) 69%);  
}

button.delete {
  background-color:transparent;
  padding: 5px;
  border: 0;
}

button.delete img {
  vertical-align: middle;
}

/*animation*/

.slide-fade-enter-active {
  transition: all .8s ease-in;
}
.slide-fade-leave-active {
  transition: all .8s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to
 {
  opacity: 0;
}

#add_btn, #close_btn, #submit_btn,.item {
  transition: transform 0.8s;
}

 #add_btn:hover, #close_btn:hover, #submit_btn:hover,.item:hover {
   transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 19px 15px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.1);
}

